<style>
  .back-btn {
    display: inline-block;
    vertical-align: middle;
  }

  #header {
    font-size: 2em;
  }

  #header-text {
    line-height: 100%;
  }
</style>

<div class="row" style="margin: 16px 0">
  <div class="col-md-1">
    <%= link_to :root, class: "btn btn-default", id: "back-btn" do %>
      <span class="glyphicon glyphicon-menu-left"></span>
      <span id="header-text">Back</span>
    <% end %>
  </div>
  <div class="col-md-10" id="header">
    MailChimp Lists
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>Click any list to reveal subscribers</p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-stacked" id="mailchimp-lists">
      <% @lists.each do |list| %>
        <li class="mailchimp-list">
          <a data-toggle="collapse" data-parent="#mailchimp-lists"
                href="#<%= list['id'] %>">
            <%= list["name"] %>
          </a>
            <ul id="<%= list['id'] %>" class="collapse">
              <div class="dropdown" style="position:relative;float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-download-alt"></span>
                  Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">File format</li>
                  <li>
                    <%= link_to "CSV",
                                members_path(list_id: list["id"],
                                             username: @username,
                                             api_key: @api_key,
                                             data_centre: @data_centre,
                                             format: "csv") %>
                  </li>
                  <li>
                    <%= link_to "JSON",
                                members_path(list_id: list["id"],
                                             username: @username,
                                             api_key: @api_key,
                                             data_centre: @data_centre,
                                             format: "json") %>
                  </li>
                </ul>
              </div>
              <% @members[list['id']].each do |member| %>
                <li><%= member["email_address"] %></li>
              <% end %>
            </ul>
        </li>
      <% end %>
    </ul>
</div>
