<div class="col-xs-4 col-xs-offset-4">
  <h1>MailChimp Assignment</h1>
  <%= form_tag 'lists', method: :post do |f| %>
    <div class="form-group">
      <%= text_field_tag 'username', nil, placeholder: "MailChimp username", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= text_field_tag 'api_key', nil, placeholder: "MailChimp API key", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag 'Connect', class: "btn-success form-control" %>
    </div>
  <% end %>
</div>
